@font-face {
	font-family: 'DIN-Next-LT-Pro';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-UltraLight.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-LightItalic.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro-LightCondensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-LightCondensed.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-Bold.ttf) format('ttf');
}

@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-HeavyItalic.ttf) format('ttf');
}


@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-Heavy.ttf) format('ttf');
}


@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-BlackItalic.ttf) format('ttf');
}


@font-face {
	font-family: 'DIN-Next-LT-Pro';
    font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(../fonts/DIN-Next-LT-Pro/DINNextLTPro-BlackCondensed.otf) format('OTF');
}


@font-face {
	font-family: 'Surveyor-Display';
    font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Surveyor-Display/Surveyor-Display-Bold-Regular.ttf) format('ttf');
}

