@import url(../fonts/DIN-Next-LT-Pro/font1.css);
@import url(../fonts/Surveyor-Display/font2.css);
/* colors */
/* End of colors */
/* font-family */
/* font-family */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: 'DIN Next LT Pro';
  scroll-behavior: smooth;
  font-weight: 300;
  font-weight: normal !important;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* End of default css */
/*  general css */
.position-initial {
  position: initial;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.display_show {
  display: block;
}

.span-block {
  display: block;
}

.max2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

h1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "SurveyorDisplay-Bold";
  font-size: 60px;
  color: #E4A792;
  letter-spacing: 0;
  line-height: 70px;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "SurveyorDisplay-Bold";
  font-size: 50px;
  color: #444444;
  letter-spacing: 0;
  line-height: 52px;
}

h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "SurveyorDisplay-Bold";
  font-size: 40px;
  color: #444444;
  letter-spacing: 0;
  line-height: 46px;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.max-width80 {
  max-width: 80%;
}

.heading-title {
  padding: 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heading-title .heading-text1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "SurveyorDisplay-Bold";
  font-size: 60px;
  color: #444444;
  letter-spacing: 0;
  line-height: 70px;
  display: inline-block;
}

.heading-title .heading-text1::before {
  content: "";
  background-color: #FFFFFF;
  height: 2px;
  width: calc(100% - 1200px);
  left: 0;
  position: absolute;
}

.heading-title .heading-text1 .text {
  padding: 10px 0;
  display: inline-block;
}

a {
  text-decoration: none;
}

.btn.btn-link-arrow {
  position: relative;
  padding: 10px 20px;
  min-width: 140px;
  min-height: 50px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #444444;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.btn.btn-link-arrow:hover, .btn.btn-link-arrow:focus {
  color: #E4A792;
}

.btn.btn-primary {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #444444;
  background-color: #444444;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 24px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border: 1px solid #444444;
  background-color: #444444;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.link-btn.link-btn01 {
  font-size: 18px;
  color: #444444;
  letter-spacing: 0;
  text-decoration: underline;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.link-btn.link-btn01:hover, .link-btn.link-btn01:focus {
  color: white;
}

/* SVG Icons */
.arrow-right-icon {
  display: inline-block;
  width: 44px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='44px' height='10px' viewBox='0 0 44 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Arrow/StartProject' transform='translate(0.000000, 4.000000)' fill='%23E4A792' fill-rule='nonzero'%3E%3Cpath id='Line-Copy-2' d='M34.473522,-3.44962625 L43.4999912,0.997041472 L34.5267756,5.5502162 L34.502,1.55 L0.752958528,1.74999125 L0.252967281,1.75294978 L0.247050225,0.752967281 L0.747041472,0.750008753 L34.497,0.55 L34.473522,-3.44962625 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*  End of SVG Icons */
/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 120px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

header .header-div .header-container {
  width: 100%;
  padding: 0 20px;
}

header .header-div .nav-main-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 120px;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #444444;
  cursor: pointer;
  z-index: 99999;
  display: none;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 40px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #444444;
  padding: 10px 0px 3px 0;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #444444;
}

header .header-div .ullist-inline li.active .nav-link {
  color: #444444;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline li .nav-link.btn-user {
  height: 48px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #003E89;
  margin: -10px 0 0 0;
}

header .header-div .ullist-inline li .nav-link.btn-user::before {
  display: none;
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 125px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

header .header-div .btn-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* End of header */
.main-middle-area {
  padding: 120px 0 0 0;
  margin: 0;
  position: relative;
}

/* banner */
.banner-section {
  padding: 40px 0 80px 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
}

/* End of banner */
.listing-ul {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.listing-ul .li-span {
  padding: 10px 55px 10px 55px;
  margin: 0;
  position: relative;
  font-family: "SurveyorDisplay-Bold";
  font-size: 40px;
  line-height: 46px;
  color: #444444;
  letter-spacing: 0;
  display: inline-block;
}

.listing-ul .li-span::before {
  content: "";
  width: 28px;
  background-color: #444444;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: -18px;
  top: 34px;
}

.listing-ul .li-span-none-line {
  padding-left: 0px;
}

.listing-ul .li-span-none-line::before {
  display: none;
}

.color-fill-section {
  padding: 65px 0 50px 0;
  margin: 0;
  position: relative;
  background-color: #E4A792;
}

.color-fill-section .color-fill-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.color-fill-section .color-fill-div .content-div {
  padding: 40px 0 0 0;
  margin: 0;
}

.color-fill-section .color-fill-div .content-div h5 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
}

.color-fill-section .color-fill-div .content-div p {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* end of home page */
@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .nav-main-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 130px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #444444;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #444444;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #444444;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #444444 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #444444 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .nav-main-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .logo-div .logo_link {
    width: 130px;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #444444;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #444444;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.displayblock {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #444444;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #444444 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #444444 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  header .header-div .ullist-inline li.myaccount-count {
    margin: 20px 0 0 0;
  }
  header .header-div .btn.btn-gradiant2.btn-mycart {
    margin: 0 !important;
    border-radius: 0px;
    max-width: 100%;
  }
  header .header-div .contact-us-btn.ml-10 {
    margin: 20px 20px 20px 20px !important;
    padding: 10px;
  }
  header .header-div.scrollUp {
    -webkit-transform: initial;
            transform: initial;
  }
  .position-fixed {
    overflow: hidden;
  }
}
 