@import url(../fonts/DIN-Next-LT-Pro/font1.css);
@import url(../fonts/Surveyor-Display/font2.css);
/* colors */
/* End of colors */
/* font-family */
/* font-family */
/* default css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: white;
  font-family: "DIN Next LT Pro";
  scroll-behavior: smooth;
  font-weight: 300;
  font-weight: normal !important;
}

.wrapper {
  background-color: white;
  display: block;
  height: 100%;
}

.wrapper .btn.focus, .wrapper .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* End of default css */
/*  general css */
.position-initial {
  position: initial;
}

.container {
  max-width: 1200px;
}

.container-lg {
  max-width: 1280px;
}

.display_show {
  display: block;
}

.span-block {
  display: block;
}

.max2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

h1 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Surveyor Display";
  font-size: 60px;
  color: #E4A792;
  letter-spacing: 0;
  line-height: 70px;
}

h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Surveyor Display";
  font-size: 50px;
  color: #444444;
  letter-spacing: 0;
  line-height: 52px;
}

h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Surveyor Display";
  font-size: 40px;
  color: #444444;
  letter-spacing: 0;
  line-height: 46px;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.max-width80 {
  max-width: 80%;
}

.heading-title {
  padding: 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heading-title .heading-text {
  padding: 0;
  margin: 0 0 10px 0;
  font-family: "Surveyor Display";
  font-size: 60px;
  color: #444444;
  letter-spacing: 0;
  line-height: 70px;
  display: inline-block;
}

.heading-title .heading-text::before {
  content: "";
  background-color: #FFFFFF;
  height: 2px;
  width: calc(100% - 1200px);
  left: 0;
  position: absolute;
}

.heading-title .heading-text .text {
  padding: 10px 0;
  display: inline-block;
  position: relative;
  border-top: 2px solid #ffffff;
}

.heading-title .heading-text2 {
  color: #E4A792;
}

.heading-title .heading-text2::before {
  background-color: #E4A792;
}

.heading-title .heading-text2 .text {
  border-top: 2px solid #e4a792;
}

.heading-title .heading-text3 {
  color: #444444;
}

.heading-title .heading-text3::before {
  background-color: #444444;
}

.heading-title .heading-text3 .text {
  border-top: 2px solid #444444;
}

.heading-title .left-border-170::before {
  left: -170px;
}

.heading-title .link-box {
  margin: 0 0 20px 0;
}

a {
  text-decoration: none;
}

.btn.btn-link-arrow {
  position: relative;
  padding: 10px 20px;
  min-width: 140px;
  min-height: 50px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #444444;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-transform: uppercase;
}

.btn.btn-link-arrow:hover, .btn.btn-link-arrow:focus {
  color: #E4A792;
}

.btn.btn-primary {
  padding: 0 20px;
  margin: 0;
  border: 1px solid #444444;
  background-color: #444444;
  color: white;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  line-height: 24px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  border: 1px solid #444444;
  background-color: #444444;
  -webkit-box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
          box-shadow: 0 3px 10px 0 rgba(12, 64, 107, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.link-btn {
  font-size: 18px;
  color: #444444;
  letter-spacing: 0;
  text-decoration: underline;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.link-btn:hover, .link-btn:focus {
  color: white;
}

.link-btn.link-btn02:hover, .link-btn.link-btn02:focus {
  color: #E4A792;
}

.link-white.btn-white-arrow {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-decoration: underline;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

/* SVG Icons */
.arrow-right-icon {
  display: inline-block;
  width: 44px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='44px' height='10px' viewBox='0 0 44 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Arrow/StartProject' transform='translate(0.000000, 4.000000)' fill='%23E4A792' fill-rule='nonzero'%3E%3Cpath id='Line-Copy-2' d='M34.473522,-3.44962625 L43.4999912,0.997041472 L34.5267756,5.5502162 L34.502,1.55 L0.752958528,1.74999125 L0.252967281,1.75294978 L0.247050225,0.752967281 L0.747041472,0.750008753 L34.497,0.55 L34.473522,-3.44962625 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: none;
}

.arrow-right-long-icon {
  display: inline-block;
  width: 95px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='97px' height='10px' viewBox='0 0 97 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1115.000000, -2903.000000)' fill='%23E4A792' fill-rule='nonzero' id='News'%3E%3Cg transform='translate(0.000000, 2715.000000)'%3E%3Cpath id='arrow-right-long' d='M1202.52368,188.45556 L1211.49999,193.002618 L1202.47656,197.455436 L1202.497,193.455 L1115.49738,192.999993 L1114.99739,192.997375 L1115.00262,191.997389 L1115.50262,192.000007 L1202.502,192.455 L1202.52368,188.45556 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: none;
}

.arrow-right-white-icon {
  display: inline-block;
  width: 63px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='65px' height='10px' viewBox='0 0 65 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-894.000000, -1799.000000)' fill='%23FFFFFF' fill-rule='nonzero' id='Projects'%3E%3Cg transform='translate(0.000000, 1193.000000)'%3E%3Cpath id='arrow-right-white' d='M949.517996,606.466171 L958.499996,611.001992 L949.482139,615.4661 L949.498,611.466 L895.248008,611.249996 L894.748012,611.248004 L894.751996,610.248012 L895.251992,610.250004 L949.501,610.466 L949.517996,606.466171 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: none;
}

.twitter-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1135.000000, -3904.000000)' fill='%23E4A792' fill-rule='nonzero' id='Background/Black'%3E%3Cg transform='translate(0.000000, 3553.000000)'%3E%3Cg id='Footer'%3E%3Cg id='Social-Icons' transform='translate(1135.000000, 351.000000)'%3E%3Cg id='twitter-icon'%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z' id='Icon-Shape'%3E%3C/path%3E%3Cpath d='M15,6.947 C14.632,7.107 14.237,7.217 13.822,7.265 C14.246,7.015 14.57,6.619 14.724,6.148 C14.3199645,6.38346621 13.8791184,6.54912157 13.42,6.638 C13.0297025,6.22890243 12.4884111,5.99821179 11.923,5.99998968 C10.79,5.99998968 9.872,6.905 9.872,8.02 C9.872,8.178 9.89,8.332 9.925,8.48 C8.28179991,8.40197063 6.74726208,7.6361535 5.697,6.37 C5.51456287,6.67710079 5.41851011,7.02779704 5.419,7.385 C5.419,8.085 5.782,8.705 6.332,9.066 C6.00644518,9.05579076 5.68786029,8.96912197 5.402,8.813 L5.402,8.838 C5.40837035,9.80604434 6.09740832,10.6348992 7.048,10.818 C6.74535763,10.8980237 6.42869145,10.9096382 6.121,10.852 C6.39592415,11.6798226 7.16480412,12.2428386 8.037,12.255 C7.30696283,12.8175579 6.41063955,13.1214917 5.489,13.119 C5.324,13.119 5.161,13.109 5,13.091 C5.94047183,13.6862877 7.03096258,14.0015728 8.144,14.0000059 C11.918,14.0000059 13.981,10.922 13.981,8.252 L13.974,7.99 C14.3762942,7.70728047 14.7239291,7.3538855 15,6.947 L15,6.947 Z' id='Icon-Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.twitter-icon:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Etwitter-icon copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='twitter-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z' id='Icon-Shape-Copy-2'%3E%3C/path%3E%3Cpath d='M15,6.947 C14.632,7.107 14.237,7.217 13.822,7.265 C14.246,7.015 14.57,6.619 14.724,6.148 C14.3199645,6.38346621 13.8791184,6.54912157 13.42,6.638 C13.0297025,6.22890243 12.4884111,5.99821179 11.923,5.99998968 C10.79,5.99998968 9.872,6.905 9.872,8.02 C9.872,8.178 9.89,8.332 9.925,8.48 C8.28179991,8.40197063 6.74726208,7.6361535 5.697,6.37 C5.51456287,6.67710079 5.41851011,7.02779704 5.419,7.385 C5.419,8.085 5.782,8.705 6.332,9.066 C6.00644518,9.05579076 5.68786029,8.96912197 5.402,8.813 L5.402,8.838 C5.40837035,9.80604434 6.09740832,10.6348992 7.048,10.818 C6.74535763,10.8980237 6.42869145,10.9096382 6.121,10.852 C6.39592415,11.6798226 7.16480412,12.2428386 8.037,12.255 C7.30696283,12.8175579 6.41063955,13.1214917 5.489,13.119 C5.324,13.119 5.161,13.109 5,13.091 C5.94047183,13.6862877 7.03096258,14.0015728 8.144,14.0000059 C11.918,14.0000059 13.981,10.922 13.981,8.252 L13.974,7.99 C14.3762942,7.70728047 14.7239291,7.3538855 15,6.947 L15,6.947 Z' id='Icon-Path-Copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.linkdian-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1165.000000, -3904.000000)' fill='%23E4A792' fill-rule='nonzero' id='Background/Black'%3E%3Cg transform='translate(0.000000, 3553.000000)'%3E%3Cg id='Footer'%3E%3Cg id='Social-Icons' transform='translate(1135.000000, 351.000000)'%3E%3Cg id='linkdian-icon' transform='translate(30.000000, 0.000000)'%3E%3Cpath d='M15,11.13 L15,14.827 L12.857,14.827 L12.857,11.377 C12.857,10.511 12.547,9.92 11.771,9.92 C11.179,9.92 10.826,10.318 10.671,10.704 C10.615,10.842 10.6,11.034 10.6,11.226 L10.6,14.827 L8.456,14.827 C8.456,14.827 8.485,8.985 8.456,8.38 L10.6,8.38 L10.6,9.293 L10.586,9.314 L10.6,9.314 L10.6,9.294 C10.885,8.854 11.393,8.228 12.532,8.228 C13.942,8.228 15,9.15 15,11.13 L15,11.13 Z M6.213,5.271 C5.48,5.271 5,5.753 5,6.385 C5,7.005 5.466,7.5 6.185,7.5 L6.199,7.5 C6.947,7.5 7.412,7.004 7.412,6.385 C7.398,5.753 6.947,5.271 6.213,5.271 Z M5.127,14.827 L7.271,14.827 L7.271,8.38 L5.127,8.38 L5.127,14.827 L5.127,14.827 Z' id='Icon-Shape'%3E%3C/path%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.linkdian-icon:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Elinkdian-icon copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='linkdian-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M15,11.13 L15,14.827 L12.857,14.827 L12.857,11.377 C12.857,10.511 12.547,9.92 11.771,9.92 C11.179,9.92 10.826,10.318 10.671,10.704 C10.615,10.842 10.6,11.034 10.6,11.226 L10.6,14.827 L8.456,14.827 C8.456,14.827 8.485,8.985 8.456,8.38 L10.6,8.38 L10.6,9.293 L10.586,9.314 L10.6,9.314 L10.6,9.294 C10.885,8.854 11.393,8.228 12.532,8.228 C13.942,8.228 15,9.15 15,11.13 L15,11.13 Z M6.213,5.271 C5.48,5.271 5,5.753 5,6.385 C5,7.005 5.466,7.5 6.185,7.5 L6.199,7.5 C6.947,7.5 7.412,7.004 7.412,6.385 C7.398,5.753 6.947,5.271 6.213,5.271 Z M5.127,14.827 L7.271,14.827 L7.271,8.38 L5.127,8.38 L5.127,14.827 L5.127,14.827 Z' id='Icon-Shape-Copy'%3E%3C/path%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z' id='linkdian-icon-copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.facebook-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1195.000000, -3904.000000)' fill='%23E4A792' fill-rule='nonzero' id='Background/Black'%3E%3Cg transform='translate(0.000000, 3553.000000)'%3E%3Cg id='Footer'%3E%3Cg id='Social-Icons' transform='translate(1135.000000, 351.000000)'%3E%3Cg id='facebook-icon' transform='translate(60.000000, 0.000000)'%3E%3Cpath d='M8.695,6.937 L8.695,8.314 L7.687,8.314 L7.687,9.997 L8.695,9.997 L8.695,15 L10.767,15 L10.767,9.997 L12.157,9.997 C12.157,9.997 12.288,9.19 12.351,8.307 L10.775,8.307 L10.775,7.157 C10.775,6.984 11.001,6.753 11.225,6.753 L12.353,6.753 L12.353,5 L10.818,5 C8.644,5 8.695,6.685 8.695,6.937 Z' id='Icon-Path'%3E%3C/path%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.facebook-icon:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Efacebook-icon copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='facebook-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M8.695,6.937 L8.695,8.314 L7.687,8.314 L7.687,9.997 L8.695,9.997 L8.695,15 L10.767,15 L10.767,9.997 L12.157,9.997 C12.157,9.997 12.288,9.19 12.351,8.307 L10.775,8.307 L10.775,7.157 C10.775,6.984 11.001,6.753 11.225,6.753 L12.353,6.753 L12.353,5 L10.818,5 C8.644,5 8.695,6.685 8.695,6.937 Z' id='Icon-Path-Copy'%3E%3C/path%3E%3Cpath d='M10,18 C14.418278,18 18,14.418278 18,10 C18,5.581722 14.418278,2 10,2 C5.581722,2 2,5.581722 2,10 C2,14.418278 5.581722,18 10,18 Z M10,20 C4.477,20 0,15.523 0,10 C0,4.477 4.477,0 10,0 C15.523,0 20,4.477 20,10 C20,15.523 15.523,20 10,20 Z' id='facebook-icon-copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dribbble-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1225.000000, -3904.000000)' fill='%23E4A792' fill-rule='nonzero' id='Background/Black'%3E%3Cg transform='translate(0.000000, 3553.000000)'%3E%3Cg id='Footer'%3E%3Cg id='Social-Icons' transform='translate(1135.000000, 351.000000)'%3E%3Cg id='dribbble-icon' transform='translate(90.000000, 0.000000)'%3E%3Cpath d='M10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 C15.5228475,20 20,15.5228475 20,10 C20,7.3478351 18.9464316,4.80429597 17.0710678,2.92893219 C15.195704,1.0535684 12.6521649,0 10,0 Z M10,1.99999937 C12.0547282,1.99918038 14.0297676,2.7949313 15.51,4.22 C13.9820227,5.11620159 12.3628779,5.8469957 10.68,6.4 C9.84248702,4.95682581 8.8822745,3.58843933 7.81,2.31 C8.52196154,2.10499737 9.25911209,2.00065186 10,1.99999937 L10,1.99999937 Z M5.89,3.15 C6.93768265,4.34850526 7.87796919,5.63679821 8.7,7 C6.73710058,7.48740421 4.72250339,7.7358712 2.7,7.74 L2.34,7.74 C2.90720204,5.81964017 4.17393611,4.18180655 5.89,3.15 L5.89,3.15 Z M4,15.31 C2.69875396,13.8487531 1.98607923,11.9566017 2,10 L2,9.71 L2.68,9.71 C5.04737543,9.68883576 7.4013936,9.35254745 9.68,8.71 C10,9.32 10.3,9.95 10.59,10.6 C9.03149126,11.1494213 7.58000759,11.9648235 6.3,13.01 L6,13.25 C5.28711776,13.8902351 4.6188897,14.57851 4,15.31 L4,15.31 Z M10,18 C8.40608844,18.0035355 6.84819638,17.5260607 5.53,16.63 C6.01684066,16.0715936 6.53784048,15.5439143 7.09,15.05 L7.41,14.78 C8.59316413,13.7848972 9.94897258,13.0154759 11.41,12.51 C12.0113357,14.135992 12.4795432,15.8081619 12.81,17.51 C11.909803,17.8386802 10.9583132,18.0045984 10,18 Z M14.63,16.51 C14.3028293,14.9965631 13.8752162,13.5065987 13.35,12.05 L13.69,12.05 C13.7294068,12.0402576 13.7705932,12.0402576 13.81,12.05 L14.5,12.05 C15.5523578,12.0530113 16.5967888,12.2321532 17.59,12.58 C17.0443281,14.170361 16.0078867,15.546447 14.63,16.51 L14.63,16.51 Z M14.5,10 L13.88,10 C13.7505118,9.98368602 13.6194882,9.98368602 13.49,10 C13.2182049,10.0166927 12.9476941,10.0500891 12.68,10.1 L12.58,10.1 C12.29,9.43 11.99,8.78 11.66,8.1 C13.4506235,7.48505671 15.1703912,6.68048703 16.79,5.7 C17.593438,6.98936829 18.0131346,8.48085198 18,10 L18,10.51 C16.8666838,10.1602179 15.6860073,9.9881765 14.5,10 L14.5,10 Z' id='drrible-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dribbble-icon:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Edribbble-icon copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='dribbble-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10,0 C4.4771525,0 0,4.4771525 0,10 C0,15.5228475 4.4771525,20 10,20 C15.5228475,20 20,15.5228475 20,10 C20,7.3478351 18.9464316,4.80429597 17.0710678,2.92893219 C15.195704,1.0535684 12.6521649,0 10,0 Z M10,1.99999937 C12.0547282,1.99918038 14.0297676,2.7949313 15.51,4.22 C13.9820227,5.11620159 12.3628779,5.8469957 10.68,6.4 C9.84248702,4.95682581 8.8822745,3.58843933 7.81,2.31 C8.52196154,2.10499737 9.25911209,2.00065186 10,1.99999937 L10,1.99999937 Z M5.89,3.15 C6.93768265,4.34850526 7.87796919,5.63679821 8.7,7 C6.73710058,7.48740421 4.72250339,7.7358712 2.7,7.74 L2.34,7.74 C2.90720204,5.81964017 4.17393611,4.18180655 5.89,3.15 L5.89,3.15 Z M4,15.31 C2.69875396,13.8487531 1.98607923,11.9566017 2,10 L2,9.71 L2.68,9.71 C5.04737543,9.68883576 7.4013936,9.35254745 9.68,8.71 C10,9.32 10.3,9.95 10.59,10.6 C9.03149126,11.1494213 7.58000759,11.9648235 6.3,13.01 L6,13.25 C5.28711776,13.8902351 4.6188897,14.57851 4,15.31 L4,15.31 Z M10,18 C8.40608844,18.0035355 6.84819638,17.5260607 5.53,16.63 C6.01684066,16.0715936 6.53784048,15.5439143 7.09,15.05 L7.41,14.78 C8.59316413,13.7848972 9.94897258,13.0154759 11.41,12.51 C12.0113357,14.135992 12.4795432,15.8081619 12.81,17.51 C11.909803,17.8386802 10.9583132,18.0045984 10,18 Z M14.63,16.51 C14.3028293,14.9965631 13.8752162,13.5065987 13.35,12.05 L13.69,12.05 C13.7294068,12.0402576 13.7705932,12.0402576 13.81,12.05 L14.5,12.05 C15.5523578,12.0530113 16.5967888,12.2321532 17.59,12.58 C17.0443281,14.170361 16.0078867,15.546447 14.63,16.51 L14.63,16.51 Z M14.5,10 L13.88,10 C13.7505118,9.98368602 13.6194882,9.98368602 13.49,10 C13.2182049,10.0166927 12.9476941,10.0500891 12.68,10.1 L12.58,10.1 C12.29,9.43 11.99,8.78 11.66,8.1 C13.4506235,7.48505671 15.1703912,6.68048703 16.79,5.7 C17.593438,6.98936829 18.0131346,8.48085198 18,10 L18,10.51 C16.8666838,10.1602179 15.6860073,9.9881765 14.5,10 L14.5,10 Z' id='drrible-icon-copy'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.instagram-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-1255.000000, -3904.000000)' fill='%23E4A792' fill-rule='nonzero' id='Background/Black'%3E%3Cg transform='translate(0.000000, 3553.000000)'%3E%3Cg id='Footer'%3E%3Cg id='Social-Icons' transform='translate(1135.000000, 351.000000)'%3E%3Cg id='instagram-icon' transform='translate(120.000000, 0.000000)'%3E%3Cpath d='M10.0022309,4.87225259 C7.16452872,4.87225259 4.87562744,7.16166462 4.87562744,10 C4.87562744,12.8383354 7.16452872,15.1277474 10.0022309,15.1277474 C12.8399331,15.1277474 15.1288344,12.8383354 15.1288344,10 C15.1288344,7.16166462 12.8399331,4.87225259 10.0022309,4.87225259 Z M10.0022309,13.3337052 C8.16843279,13.3337052 6.66926938,11.8386701 6.66926938,10 C6.66926938,8.16132991 8.163971,6.66629477 10.0022309,6.66629477 C11.8404908,6.66629477 13.3351924,8.16132991 13.3351924,10 C13.3351924,11.8386701 11.836029,13.3337052 10.0022309,13.3337052 L10.0022309,13.3337052 Z M16.5343001,4.66250139 C16.5343001,5.32745732 15.9988846,5.85852951 15.3385388,5.85852951 C14.6737312,5.85852951 14.1427775,5.32299453 14.1427775,4.66250139 C14.1427775,4.00200826 14.678193,3.46647328 15.3385388,3.46647328 C15.9988846,3.46647328 16.5343001,4.00200826 16.5343001,4.66250139 Z M19.9297267,5.87638068 C19.8538762,4.27423854 19.4880089,2.85507085 18.3145566,1.68581948 C17.1455661,0.516568113 15.726715,0.150619212 14.1249303,0.0702889657 C12.4740658,-0.0234296552 7.52593419,-0.0234296552 5.87506972,0.0702889657 C4.27774679,0.146156421 2.85889571,0.512105322 1.68544339,1.68135669 C0.511991076,2.85060806 0.150585611,4.26977574 0.070273285,5.87191788 C-0.0234244283,7.52315073 -0.0234244283,12.4723865 0.070273285,14.1236193 C0.146123815,15.7257615 0.511991076,17.1449292 1.68544339,18.3141805 C2.85889571,19.4834319 4.273285,19.8493808 5.87506972,19.929711 C7.52593419,20.0234297 12.4740658,20.0234297 14.1249303,19.929711 C15.726715,19.8538436 17.1455661,19.4878947 18.3145566,18.3141805 C19.4835471,17.1449292 19.8494144,15.7257615 19.9297267,14.1236193 C20.0234244,12.4723865 20.0234244,7.52761352 19.9297267,5.87638068 Z M17.7969883,15.8953475 C17.4489682,16.7700547 16.775237,17.4439362 15.8962632,17.7964967 C14.5800335,18.3186433 11.4567764,18.1981479 10.0022309,18.1981479 C8.54768544,18.1981479 5.41996654,18.3141805 4.10819855,17.7964967 C3.23368656,17.448399 2.55995538,16.7745175 2.20747351,15.8953475 C1.68544339,14.5788241 1.80591188,11.45487 1.80591188,10 C1.80591188,8.54512998 1.68990519,5.41671315 2.20747351,4.10465246 C2.55549359,3.22994533 3.22922476,2.55606382 4.10819855,2.20350329 C5.42442833,1.68135669 8.54768544,1.80185206 10.0022309,1.80185206 C11.4567764,1.80185206 14.5844953,1.68581948 15.8962632,2.20350329 C16.7707752,2.55160103 17.4445064,3.22548254 17.7969883,4.10465246 C18.3190184,5.42117595 18.1985499,8.54512998 18.1985499,10 C18.1985499,11.45487 18.3190184,14.5832868 17.7969883,15.8953475 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.instagram-icon:hover {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3Einstagram-icon copy%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='instagram-icon-copy' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M10.0022309,4.87225259 C7.16452872,4.87225259 4.87562744,7.16166462 4.87562744,10 C4.87562744,12.8383354 7.16452872,15.1277474 10.0022309,15.1277474 C12.8399331,15.1277474 15.1288344,12.8383354 15.1288344,10 C15.1288344,7.16166462 12.8399331,4.87225259 10.0022309,4.87225259 Z M10.0022309,13.3337052 C8.16843279,13.3337052 6.66926938,11.8386701 6.66926938,10 C6.66926938,8.16132991 8.163971,6.66629477 10.0022309,6.66629477 C11.8404908,6.66629477 13.3351924,8.16132991 13.3351924,10 C13.3351924,11.8386701 11.836029,13.3337052 10.0022309,13.3337052 L10.0022309,13.3337052 Z M16.5343001,4.66250139 C16.5343001,5.32745732 15.9988846,5.85852951 15.3385388,5.85852951 C14.6737312,5.85852951 14.1427775,5.32299453 14.1427775,4.66250139 C14.1427775,4.00200826 14.678193,3.46647328 15.3385388,3.46647328 C15.9988846,3.46647328 16.5343001,4.00200826 16.5343001,4.66250139 Z M19.9297267,5.87638068 C19.8538762,4.27423854 19.4880089,2.85507085 18.3145566,1.68581948 C17.1455661,0.516568113 15.726715,0.150619212 14.1249303,0.0702889657 C12.4740658,-0.0234296552 7.52593419,-0.0234296552 5.87506972,0.0702889657 C4.27774679,0.146156421 2.85889571,0.512105322 1.68544339,1.68135669 C0.511991076,2.85060806 0.150585611,4.26977574 0.070273285,5.87191788 C-0.0234244283,7.52315073 -0.0234244283,12.4723865 0.070273285,14.1236193 C0.146123815,15.7257615 0.511991076,17.1449292 1.68544339,18.3141805 C2.85889571,19.4834319 4.273285,19.8493808 5.87506972,19.929711 C7.52593419,20.0234297 12.4740658,20.0234297 14.1249303,19.929711 C15.726715,19.8538436 17.1455661,19.4878947 18.3145566,18.3141805 C19.4835471,17.1449292 19.8494144,15.7257615 19.9297267,14.1236193 C20.0234244,12.4723865 20.0234244,7.52761352 19.9297267,5.87638068 Z M17.7969883,15.8953475 C17.4489682,16.7700547 16.775237,17.4439362 15.8962632,17.7964967 C14.5800335,18.3186433 11.4567764,18.1981479 10.0022309,18.1981479 C8.54768544,18.1981479 5.41996654,18.3141805 4.10819855,17.7964967 C3.23368656,17.448399 2.55995538,16.7745175 2.20747351,15.8953475 C1.68544339,14.5788241 1.80591188,11.45487 1.80591188,10 C1.80591188,8.54512998 1.68990519,5.41671315 2.20747351,4.10465246 C2.55549359,3.22994533 3.22922476,2.55606382 4.10819855,2.20350329 C5.42442833,1.68135669 8.54768544,1.80185206 10.0022309,1.80185206 C11.4567764,1.80185206 14.5844953,1.68581948 15.8962632,2.20350329 C16.7707752,2.55160103 17.4445064,3.22548254 17.7969883,4.10465246 C18.3190184,5.42117595 18.1985499,8.54512998 18.1985499,10 C18.1985499,11.45487 18.3190184,14.5832868 17.7969883,15.8953475 Z' id='instagram-icon-copy-2'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*  End of SVG Icons */
.img-responsive {
  width: 100%;
}

/*  End of general css */
/* header */
header {
  position: relative;
}

header .header-div {
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  z-index: 9999;
  width: 100%;
  min-height: 120px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /* start navigation  **/
  /*  End of navigation  */
}

header .header-div .logo-div {
  padding: 0px 0px 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

header .header-div .logo_img {
  -webkit-transition: display ease-in-out 0.5s;
  transition: display ease-in-out 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

header .header-div .header-container {
  width: 100%;
  padding: 0 20px;
}

header .header-div .nav-main-div {
  padding: 15px 0px 15px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 120px;
}

header .header-div .top-nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0 0 0;
  width: 100%;
}

header .header-div .inner-top-header-div {
  padding: 0;
  margin: 0;
}

header .header-div .inner-top-header-div.top-nav1 {
  padding: 0;
  margin: 0;
  float: right;
}

header .header-div .cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(68, 68, 68, 0.5);
  cursor: pointer;
  z-index: 99999;
  display: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header .header-div .display-none {
  display: none !important;
}

header .header-div .nav-div .closebtn {
  display: none;
}

header .header-div .ullist-inline {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

header .header-div .ullist-inline li {
  padding: 0;
  margin: 0 40px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

header .header-div .ullist-inline li:last-child {
  margin: 0 0 0 0;
}

header .header-div .ullist-inline li .nav-link {
  color: #444444;
  padding: 10px 0px 3px 0;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

header .header-div .ullist-inline li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

header .header-div .ullist-inline li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-div .ullist-inline li .nav-link:before, header .header-div .ullist-inline li .nav-link:after, header .header-div .ullist-inline li .nav-link > span:before, header .header-div .ullist-inline li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .header-div .ullist-inline li .nav-link:hover {
  color: #444444;
}

header .header-div .ullist-inline li.active .nav-link {
  color: #444444;
}

header .header-div .ullist-inline li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .header-div .ullist-inline li .nav-link.btn-user {
  height: 48px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #003E89;
  margin: -10px 0 0 0;
}

header .header-div .ullist-inline li .nav-link.btn-user::before {
  display: none;
}

header .header-div .ullist-inline .dropdown-toggle::after {
  display: none;
}

header .header-div .ullist-inline .dropdown-menu {
  border: 1px solid #DFEAF1;
  min-width: 125px;
  border-radius: 0px;
}

header .header-div .ullist-inline .dropdown-menu li {
  display: block;
  width: 100%;
}

header .header-div .ullist-inline .dropdown-menu li a {
  padding: 6px 15px;
  width: 100%;
  display: block;
  margin: 0 0 5px 0;
  color: rgba(11, 22, 43, 0.5);
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-div .ullist-inline .dropdown-menu li a:hover {
  background-color: #F2F7F9;
  color: #0B162B;
}

header .header-div .nav-m-bar .menu-bars {
  display: none;
}

header .header-div .btn-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* End of header */
.main-middle-area {
  padding: 120px 0 0 0;
  margin: 0;
  position: relative;
}

/* banner */
.banner-section {
  padding: 40px 0 80px 0;
  margin: 0;
  position: relative;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
}

/* End of banner */
.listing-ul {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.listing-ul .li-span {
  padding: 10px 55px 10px 55px;
  margin: 0;
  position: relative;
  font-family: "Surveyor Display";
  font-size: 40px;
  line-height: 46px;
  color: #444444;
  letter-spacing: 0;
  display: inline-block;
  font-weight: 700;
}

.listing-ul .li-span::before {
  content: "";
  width: 28px;
  background-color: #444444;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: -18px;
  top: 34px;
}

.listing-ul .li-span-none-line {
  padding-left: 0px;
}

.listing-ul .li-span-none-line::before {
  display: none;
}

.color-fill-section {
  padding: 65px 0 50px 0;
  margin: 0;
  position: relative;
  background-color: #444444;
}

.color-fill-section .heading-title .heading-text {
  color: #fff;
}

.color-fill-section .color-fill-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.color-fill-section .color-fill-div .content-div {
  padding: 40px 0 0 0;
  margin: 0;
}

.color-fill-section .color-fill-div .content-div h5 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
}

.color-fill-section .color-fill-div .content-div p {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
}

.color-fill-section .color-fill-div .content-div .listing-ul .li-span {
  color: #E4A792;
}

.color-fill-section .color-fill-div .content-div .listing-ul .li-span::before {
  background-color: #E4A792;
}

.projects-slider-section {
  padding: 80px 0 50px 0;
  margin: 0;
  position: relative;
  background-color: #F5F5F5;
}

.projects-slider-section .projects-slider-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.projects-slider-section .projects-slider-div .content-div {
  padding: 40px 0 0 0;
  margin: 0;
}

.projects-slider-section .projects-slider-div .content-div h5 {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
}

.projects-slider-section .projects-slider-div .content-div p {
  padding: 0;
  margin: 0 0 25px 0;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
}

.slider-root {
  padding: 0 0 30px 0;
}

.slider-root .tns-controls {
  display: none;
}

.slider-root .tns-nav {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 20px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-root .tns-nav button {
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0 5px;
  display: inline-block;
  border: 2px solid #E4A792;
  border-radius: 100px;
  background-color: transparent;
  outline: none;
}

.slider-root .tns-nav button.tns-nav-active {
  background-color: #E4A792;
}

.slider-custom-div {
  padding: 70px 0 40px 0;
  margin: 0;
  position: relative;
}

.slider-custom-div .general-image-card {
  padding: 0;
  margin: 0;
  position: relative;
}

.slider-custom-div .general-image-card .img-thumb {
  padding: 0;
  margin: 0;
  position: relative;
}

.slider-custom-div .general-image-card .img-thumb .img-fluid {
  height: 460px;
  min-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.slider-custom-div .general-image-card .general-details-div {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 460px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: rgba(228, 167, 146, 0.7);
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.slider-custom-div .general-image-card .general-details-div .inner-details-box {
  padding: 30px;
  width: 100%;
}

.slider-custom-div .general-image-card .general-details-div .inner-details-box h5 {
  font-family: "Surveyor Display";
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 30px 0;
}

.slider-custom-div .general-image-card .general-details-div .inner-details-box p {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.slider-custom-div .general-image-card .general-details-div:hover {
  opacity: 1;
}

.banner-cover-image {
  padding: 0;
  margin: 75px 0 -150px 0;
  position: relative;
  z-index: 2;
}

.banner-cover-image .position-box-change {
  position: absolute;
  top: 25%;
  right: 30%;
  background-color: #E4A792;
  min-width: 80px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.banner-cover-image .position-box-change .link {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}

.news-block-section {
  padding: 80px 0 50px 0;
  margin: 0;
  position: relative;
  background-color: white;
}

.news-block-section .news-block-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.listing-block-news {
  padding: 30px 0;
  margin: 0;
  position: relative;
}

.listing-block-news h4 {
  font-family: "Surveyor Display";
  font-size: 40px;
  color: #E4A792;
  letter-spacing: 0;
}

.listing-block-news p {
  padding: 0 20px 0 0;
  margin: 0 0 0 0;
  font-size: 30px;
  color: #444444;
  letter-spacing: 0;
}

.listing-block-news .content-desc-inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing-block-news .title-box-div {
  padding: 0px 0 5px 0;
  margin: 0;
  width: 100%;
}

.listing-block-news .pra-content {
  width: calc(100 - 150px);
}

.listing-block-news .content-desc-inner-box {
  padding: 5px 0 5px 0;
  margin: 0;
  width: 100%;
}

.listing-block-news .link-arrow-right {
  padding: 10px;
  display: inline-block;
}

.listing-block-news .row.row-div {
  padding: 20px 0;
}

.pt-175 {
  padding-top: 175px;
}

.mr-50 {
  margin-right: 50px;
}

ul {
  list-style: none;
}

.footer-div {
  padding: 40px 0 0 0;
  margin: 0;
  position: relative;
  background-color: #444444;
}

.footer-div .footer-nav-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-div .footer-nav-list-row .btn-box-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-div .footer-nav-list-row .btn-box-div .btn.btn-link-arrow {
  color: #E4A792;
  text-transform: uppercase;
}

.footer-div .footer-nav-list-row .btn-box-div .btn.btn-link-arrow:hover, .footer-div .footer-nav-list-row .btn-box-div .btn.btn-link-arrow:focus {
  color: white;
}

.footer-div .footer-nav-link {
  padding: 0 0 2px 0;
  margin: 0px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

.footer-div .footer-nav-link li {
  padding: 0;
  margin: 0 40px 0 0;
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
}

.footer-div .footer-nav-link li:last-child {
  margin: 0 0 0 0;
}

.footer-div .footer-nav-link li .nav-link {
  color: white;
  padding: 10px 0px 3px 0;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.footer-div .footer-nav-link li .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.footer-div .footer-nav-link li .nav-link:hover:before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.footer-div .footer-nav-link li .nav-link:before, .footer-div .footer-nav-link li .nav-link:after, .footer-div .footer-nav-link li .nav-link > span:before, .footer-div .footer-nav-link li .nav-link > span:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.footer-div .footer-nav-link li .nav-link:hover {
  color: #E4A792;
}

.footer-div .footer-nav-link li.active .nav-link {
  color: #E4A792;
}

.footer-div .footer-nav-link li.active .nav-link:before {
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #E4A792;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.footer-div .contact-details-div {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-div .contact-details-div h4 {
  margin: 0 0 7px 0;
  font-family: "Surveyor Display";
  font-size: 30px;
  color: #E4A792;
  letter-spacing: 0;
}

.footer-div .contact-details-div h5 {
  font-size: 24px;
  color: #E4A792;
  letter-spacing: 0;
  margin: 0 0 20px 0;
}

.footer-div .contact-details-div .cont-link {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: block;
  word-break: break-word;
}

.footer-div .contact-details-div .justified-bottom {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 10px 0;
}

.footer-div .contact-details-div .input-form-div {
  padding: 0px 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.footer-div .contact-details-div .input-form-div .form-group {
  position: relative;
  width: 100%;
}

.footer-div .contact-details-div .input-form-div .form-group .form-control {
  width: 100%;
  height: 45px;
  display: block;
  padding: 12px 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #E4A792;
  font-size: 16px;
  color: #ABABAB;
  font-weight: 400;
  outline: none;
}

.footer-div .contact-details-div .input-form-div .form-group .form-control ::-webkit-input-placeholder {
  color: #ABABAB;
}

.footer-div .contact-details-div .input-form-div .form-group .form-control ::-moz-placeholder {
  color: #ABABAB;
}

.footer-div .contact-details-div .input-form-div .form-group .form-control :-ms-input-placeholder {
  color: #ABABAB;
}

.footer-div .contact-details-div .input-form-div .form-group .form-control :-moz-placeholder {
  color: #ABABAB;
}

.footer-div .contact-details-div .input-form-div .form-group .submit-arrow-btn {
  position: absolute;
  top: 18px;
  right: 0;
  background-color: transparent;
  border: none;
}

.footer-div .contact-details-div .conversation-div {
  padding: 0 35px;
  border-left: 2px solid #ababab;
  border-right: 2px solid #ababab;
}

.footer-div .footer-bottom-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-div .footer-bottom-row .link-white {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.footer-div .footer-bottom-row .link-white:hover {
  color: #E4A792;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list ul .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
}

.listing-ul .li-span:hover {
  color: #000;
  cursor: pointer;
}

.slider-custom-div .general-image-card .general-details-div {
  cursor: pointer;
}

.listing-block-news h4 {
  cursor: pointer;
}

/* end of home page */
@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
  .heading-title .heading-text::before {
    width: calc(100% - 1000px);
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-title .left-border-170::before {
    left: 0;
  }
}

@media (min-width: 1450px) and (max-width: 1600px) {
  .heading-title .left-border-170::before {
    left: 0;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .heading-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heading-title .heading-text {
    font-size: 36px;
    line-height: 48px;
  }
  .link-btn {
    font-size: 14px;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .header-container {
    width: 100%;
    padding: 0 0px;
  }
  header .header-div .nav-main-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #444444;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #444444;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.display-block {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: calc(100vh - 50px);
    padding: 20px 0 0 0;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #444444;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #444444 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #444444 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  .position-fixed {
    overflow: hidden;
  }
  .color-fill-section .color-fill-div .content-div h5 {
    font-size: 24px;
    line-height: 30px;
  }
  .color-fill-section .color-fill-div .content-div p {
    font-size: 24px;
    line-height: 30px;
    max-width: 100%;
  }
  .listing-ul .li-span {
    padding: 10px 20px 10px 30px;
    font-size: 28px;
    line-height: 36px;
    display: block;
  }
  .listing-ul .li-span::before {
    content: "";
    width: 14px;
    height: 2px;
    display: inline-block;
    left: 0;
    top: 30px;
  }
  .listing-block-news h4 {
    font-size: 30px;
    line-height: 36px;
  }
  .listing-block-news p {
    font-size: 24px;
    line-height: 28px;
  }
  .listing-block-news .content-desc-inner-box {
    width: 100%;
    display: block;
  }
  .listing-block-news .link-box-news {
    display: block;
    margin: 20px 0 0 -5px;
  }
  .listing-block-news .link-arrow-right {
    display: block;
    margin: 0 0 0 0;
  }
  .footer-div .footer-nav-list-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-div .footer-nav-list-row .btn-box-div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .footer-div .footer-nav-link {
    display: inline-block;
  }
  .footer-div .contact-details-div h4 {
    margin: 0 0 7px 0;
    font-size: 24px;
  }
  .footer-div .contact-details-div h5 {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  .footer-div .contact-details-div .conversation-div {
    padding: 40px 0;
    border: none;
  }
  .footer-div .contact-details-div .conversation-div .cont-link {
    font-size: 16px;
  }
  .footer-div .footer-bottom-row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .footer-div .footer-bottom-row .social-list {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin: 20px 0 20px 0;
  }
  .footer-div .footer-bottom-row .link-white {
    font-size: 14px;
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  h1 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .heading-title .heading-text {
    font-size: 36px;
    line-height: 48px;
  }
  .link-btn {
    font-size: 14px;
  }
  header .header-div {
    min-height: 70px;
    background-color: white;
  }
  header .header-div .header-container {
    width: 100%;
    padding: 0 0px;
  }
  header .header-div .nav-main-div {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 70px;
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .logo-div {
    width: 70%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .header-div .top-nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header-div .nav-m-bar .menu-bars {
    font-size: 30px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .nav-div {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: -500px;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.8s right;
    transition: 0.8s right;
  }
  header .header-div .nav-div .closebtn {
    position: absolute;
    color: #444444;
    background-color: transparent;
    border-radius: 0 0 0 30px;
    top: 0;
    min-width: 45px;
    text-align: center;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 15px;
    margin-right: 10px;
  }
  header .header-div .nav-div .closebtn:hover {
    color: #444444;
  }
  header .header-div .nav-div .closebtn {
    display: block;
  }
  header .header-div .width80 {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-div .opacityon {
    opacity: 1;
  }
  header .header-div .cd-shadow-layer.display-block {
    display: block;
    height: 100%;
    overflow: hidden;
  }
  header .header-div .nav {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: calc(100vh - 50px);
    padding: 20px 0 0 0;
  }
  header .header-div .max-container-container {
    bottom: 20px;
  }
  header .header-div .banner-caption {
    padding: 0px 0;
  }
  header .header-div .banner-section .banner-div .center_title .social-icon-div ul {
    margin: 0 0 8px 0;
  }
  header .header-div .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-div .header-right-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-div .logo-div {
    padding: 15px 0;
    min-height: 70px;
  }
  header .header-div .nav-div .closebtn {
    display: block;
    color: #444444;
  }
  header .header-div .ullist-inline li {
    width: 100%;
    margin: 0;
  }
  header .header-div .ullist-inline li .nav-link {
    color: #444444 !important;
    padding: 15px 30px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }
  header .header-div .ullist-inline li.active .nav-link {
    color: #444444 !important;
  }
  header .header-div a.btn.btn-blue.top-minues10 {
    margin: 10px !important;
    border-radius: 0px;
  }
  header .header-div .ullist-inline li .nav-link.btn-user {
    margin: 0px 0 0 0;
    width: 100%;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.5) !important;
  }
  header .header-div .ullist-inline li .nav-link.btn-user::before {
    display: none;
  }
  header .header-div .dropdown-toggle::after {
    margin: 10px 0 10px 10px;
  }
  header .header-div .dropdown-menu.show {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    min-width: 100% !important;
    width: 100%;
    margin: 0rem 0 0;
    -webkit-transform: none !important;
            transform: none !important;
    text-align: center;
  }
  .position-fixed {
    overflow: hidden;
  }
  .color-fill-section .color-fill-div .content-div h5 {
    font-size: 24px;
    line-height: 30px;
  }
  .color-fill-section .color-fill-div .content-div p {
    font-size: 24px;
    line-height: 30px;
  }
  .listing-ul .li-span {
    padding: 10px 20px 10px 30px;
    font-size: 28px;
    line-height: 36px;
    display: inline-block;
  }
  .listing-ul .li-span::before {
    content: "";
    width: 14px;
    height: 2px;
    display: inline-block;
    left: 0;
    top: 30px;
  }
  .listing-ul .li-span.li-span-none-line {
    padding-left: 0px;
  }
  .listing-ul .li-span.li-span-none-line::before {
    display: none;
  }
  .listing-block-news h4 {
    font-size: 30px;
    line-height: 36px;
  }
  .listing-block-news p {
    font-size: 24px;
    line-height: 28px;
  }
  .listing-block-news .content-desc-inner-box {
    width: 100%;
    display: block;
  }
  .listing-block-news .link-box-news {
    display: block;
    margin: 20px 0 0 -5px;
  }
  .listing-block-news .link-arrow-right {
    display: block;
    margin: 0 0 0 0;
  }
  .footer-div .footer-nav-link li {
    margin: 0 20px 0 0;
    font-size: 13px;
  }
  .footer-div .footer-nav-list-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-div .footer-nav-list-row .btn-box-div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 40%;
  }
  .footer-div .footer-nav-link {
    display: inline-block;
  }
  .footer-div .contact-details-div h4 {
    margin: 0 0 7px 0;
    font-size: 24px;
  }
  .footer-div .contact-details-div h5 {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  .footer-div .contact-details-div .conversation-div {
    padding: 0px 15px;
  }
  .footer-div .contact-details-div .conversation-div .cont-link {
    font-size: 16px;
  }
  .footer-div .footer-bottom-row {
    padding-top: 0;
  }
  .listing-block-news .title-box-div span.span-block {
    display: inline;
  }
}
